* {
	margin: 0;
	padding: 0;
	background: #fff
}

p{
	background:#05c3ff;
}

html {
	height: 100%;
}

@font-face {
	font-family: LuckiestGuy-Regular;
	src: url("../fonts/LuckiestGuy-Regular.ttf");
}

img{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:  center;
	border-radius: 20px;
}

body {
	font-family: LuckiestGuy-Regular;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	background-image: url("../images/TelaJogoFacil.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	display: flex;
	margin: 10px;
	font-family: LuckiestGuy-Regular;
	text-shadow: -10px -2px 6px #000000;
}

div {
	display: flex;
	
}

.cabecalho{
	font-family:  LuckiestGuy-Regular;
	background-color: #FFC75C;
	color: #fff;
	font-size: 90px;
	position: absolute;	
	margin: -420px 0px -50px 0px;
	text-shadow: -9px -2px #000;
	letter-spacing: 0.2em;	
}

div.panel{
	display: grid;
	grid-template: 1fr 1fr 1fr /1fr 1fr 1fr 1fr;
    gap: 10px;
	background: #FFD76F;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 48px;
	line-height: 100px;
	color: #FFD76F;
	font-size: 55px;
	font-weight: 50px;
	border: solid #337FED 1px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border: yellow solid;
	margin: 200px 0px 60px 20px;
	padding: 5px 100px 112px 25px;	
}

/* card style */

.card{
	width: 150px;
	height: 150px;
	background: none;
	position:relative;
	transform-style: preserve-3d;
	transition: transform .5s; /*trasition effect*/
	margin: 80px 20px -20px 100px;
}

.card:focus {
	outline: none;
	box-shadow: 0px 0px 2em #DC143C, 0px 0px 2em #DC143C, 0px 0px 2em #DC143C ;
	border-radius: 20px;
}

.card_back, .card_front{
	width: 100%;
	height: 100%;
	position:absolute;
	display: flex;
	justify-content: center;
	align-items:  center;
	border-radius: 20px;
	box-shadow: 10px 10px 10px  rgba(0, 0, 0.45);
	backface-visibility: hidden;
	
}

/*transition effect*/
.flip{
	transform: rotateY(180deg);
}

.card_front{
	transform: rotateY(180deg);
	background-color: #101c2c;
	
}

.card_back{
	color: #101c2c;
	background-color: #05c3ff;
	font-size: 30px;
	/*display: none;*/

}



/**** css do timer ****/

#timer{
	background: #FFC75C;
}



